doctype
html
  head
    style
      include chat.css 
body
 | <script>
 include ../public/keepersfindRsa.js
 | </script>
 | <script>
 include ../public/keepersfindAes.js
 | </script>
 | <script>
 include ../Encryption/HashClient.js
 | </script>
 | <script>
 include ../public/encryptScript.js
 | </script>
div(id="send")
  - var receivedMessages = received[1];
  - var users = received[2];
  script(type='text/javascript').
    var symmetricKeysOfUser = "#{received[0].symmetricKeys}"; 
    var amountOfKeys = ['#{received[0].symmetricKeys}'].length; 
  form(name="logout", method="post", action="/logout")
    input(type="submit", class="settings", id="logout", value="logout")
    input(type="submit", class="settings", id="profile", value="profile")
  form(name="message", method="post", action="/send")
    br
    span(name="sender", id="welcomeText") Welcome back 
    span(id="loggedInUsername")= received[0].username
    input(id="loggedInUserPublic", type="hidden", value=received[0].publicKey)
    input(id="loggedInUserPrivate", type="hidden", value=received[0].privateKey)
    br
    br
    textarea(name="messageContent", id="text", placeholder="message to be encrypted",rows="10", cols="187")
    br
    input(type="file", id="file", onchange='chooseFromFile()')
    br
    span(class="blob") Receiver: 
    select(name="selectedUser", id="receiver")
     - for(var i = 0; i < users.length; i++)
       option(value=users[i].publicKey)= users[i].username
    input(type="submit", class="blob", value="Send message", onclick='encryptingProc()')
    input(type="hidden", id="file_1",name="f1")
    input(type="hidden", id="file_2",name="f2")
    input(type="hidden", id="file_3",name="f3")
    input(type="hidden", id="rec",name="receiverOfMessage")
h1
div(id="receive")
  h1 Your messages
  ul
  form(name="delete", method="post", action="/delete")
    - for (var i = 0; i< receivedMessages.length; i++)    
       li
         span(id=i+"s")= receivedMessages[i].sender
         div(id="content")
           p(id=i+"f1")= receivedMessages[i].part1
           p(id=i+"f2")= receivedMessages[i].part2
           p(id=i+"f3")= receivedMessages[i].part3
           input(type="submit", name="toBeDeleted", value=receivedMessages[i]._id)
           input(type="button", id=i, value="decrypt", onclick='decryptContent(this.id)')
           p(class="verified" ,id=i+"v")
           p(class="notverified" ,id=i+"nv")
          

     
     
